:root {
    --accentColor: rgb(50, 0, 0);
}

body {
    font-family: system-ui;
    text-align: center;
    margin-top: 50px;
    background-color: var(--accentColor);
    color: white;
    font-size: 15px;
}

.flex-container {
    display: flex;
}

.flex-container > div {
    margin: 20px auto;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 20px;
}

#puzzle-container {
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 15px;
    margin: 20px auto;
}

.tile {
    background-color: var(--accentColor);
    filter: brightness(150%);
    color: white;
    font-size: 2rem; /* twice the font size of the root element */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.empty {
    background-color: var(--accentColor);
    filter: brightness(200%);
}

.correctPosition {
    background-color: var(--accentColor);
    filter: brightness(250%);
}